<div class="row">
    <h2>Login</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form login-form">
            <div class="form-group">
                <label for="username-login">username</label>
            <input class="form-input" type="text" id="username-login" />
            </div>
            <div class"form-group">
                <label for="password-login">password:</labbel>
            <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
            {{else}}
         <a href="sign-up">Sign up instead</a>
</div>

<div class="row">
    <div class="col-md-6">
<div class="form signup-form">
    <form>
    <div class="form-group">
        <label for="name-signup">username:</label>
        <input class="form-input" type="text" id="username-signup"
    </div>
    <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">password:</label>
    <input class="form-input" type="text" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
    </div>
    </form>
</div>
    </div>

<script src="./js/login.js"></script>

<script src="./js/login.js"></script>